<div class="user-info">
    <h1>Usuários</h1>
    <ul>
        <li *ngFor="let user of users" (click)="loadTreinos(user.id)">
            {{ user.nomeCompleto }}
        </li>
    </ul>

    <div *ngIf="selectedUser">
        <h3>Treinos de {{ selectedUser.nomeCompleto }}:</h3>
        <ul>
            <li *ngFor="let treino of treinos" (click)="loadExercicios(treino.id)">
                {{ treino.nome }}
            </li>
        </ul>

        <h3>Exercícios:</h3>
        <div *ngIf="exercicios.length > 0">
            <ul>
                <li *ngFor="let exercicio of exercicios">
                    {{ exercicio.nome }} - {{ exercicio.series }} séries de {{ exercicio.repeticoes }} repetições
                    <br>
                    Carga: {{ exercicio.carga }} kg, Tempo: {{ exercicio.tempo }}s, Descanso: {{ exercicio.descanso }}s
                </li>
            </ul>
        </div>
        <div *ngIf="exercicios.length === 0">
            <p>Nenhum exercício encontrado para este treino.</p>
        </div>
    </div>
</div>